*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inp{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}
input{
    text-align: center;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 7px;
}
.rsp {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    
}
.rsp span{
    color:rgba(49, 226, 0, 0.805);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight:700;
}

span.ppp{
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight:700;
}

